body {
  margin: 0px;
  font-family: arial;
}

h3 {
  margin: 0px;
}

form {
  margin: 0px;
  padding: 0px;
}

input[type="text"] {
  font-size: 14px;
  margin: 2px;
  margin-left: 0px;
  padding: 2px;
  width: 200px;
}

a {
  margin-right: 8px;
}

input[type="password"] {
  font-size: 14px;
  margin: 2px;
  margin-left: 0px;
  padding: 2px;
  width: 200px;
}


label {
  display: inline-block;
  min-width: 130px;
}

select {
  margin: 2px;
  border: 1px solid grey;
  margin-left: 0px;
  height: 25px;
  width: 200px;
}

button {
  padding: 4px;
  margin: 4px;
  margin-left: 130px;
  border: 1px solid grey;
  background: #f0f0f0;
  height: 25px;
}

.content {
  padding: 8px;
}

.section {
  padding-top: 18px;
  padding: 8px;
  border: 1px solid #aaa;
}

.section-title {
  margin-top: 16px;
}

.header {
  padding: 8px;
  margin-bottom: 22px;
  background: #ccccff;
  border: 1px solid #aaa;
}

.message {
  border: 1px solid #4caf50;
  background: #4caf50;
  padding: 8px;
  color: white;
}

.message > h2 {
  padding: 0px;
  margin: 0px;
}

.error {
  border: 1px solid #ff1744;
  background: #ff1744;
  padding: 8px;
  color: white;
}

.error > h2 {
  padding: 0px;
  margin: 0px;
}
