body {
  margin: 0px;
  font-family: arial;
}

h3 {
  margin: 0px;
}

form {
  margin: 0px;
  padding: 0px;
}

input[type="text"] {
  font-size: 14px;
  margin: 2px;
  margin-left: 0px;
  padding: 2px;
  width: 200px;
}

textarea {
  width: 200px;
  height: 100px;
  font-size: 14px;
}

a {
  margin-right: 8px;
}

input[type="password"] {
  font-size: 14px;
  margin: 2px;
  margin-left: 0px;
  padding: 2px;
  width: 200px;
}


label {
  display: inline-block;
  min-width: 130px;
}

select {
  margin: 2px;
  border: 1px solid grey;
  background: white;
  margin-left: 0px;
  height: 25px;
  width: 200px;
}

button {
  padding: 4px;
  margin: 4px;
  border: 1px solid grey;
  background: #f0f0f0;
  height: 25px;
}

.section > form > button {
  margin-left: 130px;
}

.content {
  padding: 8px;
}

.course > form > select {
  width: 60px;
  margin-left: 12px;
}

.section {
  padding-top: 18px;
  padding: 8px;
  border: 1px solid #aaa;
}

.section-title {
  margin-top: 16px;
}

.header {
  padding: 8px;
  background: #c00;
  border: 1px solid #aaa;
  height: 50px;
}
.header > h3 {
  color: white;
}

.header > a {
  color: white;
}

.header > img {
  height: 50px;
  float: left;
  display: inline;
  margin-right: 12px;
}

.message {
  border: 1px solid #4caf50;
  background: #4caf50;
  padding: 8px;
  color: white;
}

.message > h2 {
  padding: 0px;
  margin: 0px;
}

.error {
  border: 1px solid #ff1744;
  background: #c00;
  padding: 8px;
  color: white;
}

.error > h2 {
  padding: 0px;
  margin: 0px;
}

table, th, td {
  border: 1px solid black;
}

td {
  padding: 4px;
}

th {
  min-width: 120px;
}

.center {
  text-align: center;
}
